{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}
    <h1>Films</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ film.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ film.description }}</td>
            </tr>
            <tr>
                <th>Age_mini</th>
                <td>{{ film.ageMini }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ film.note }}</td>
            </tr>
            <tr>
                <th>Coup_coeur</th>
                <td>{{ film.coupCoeur ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date_sortie</th>
                <td>{{ film.dateSortie ? film.dateSortie|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ film.Genre ? film.Genre|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_films_index') }}">back to list</a>

    <a href="{{ path('app_films_edit', {'id': film.id}) }}">edit</a>

    {{ include('films/_delete_form.html.twig') }}
{% endblock %}
